.wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex; 
    justify-content: flex-end; 
  }
  
  .chief {
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
  }
  
  .chief .text {
    background-color: #c19d9d;
    padding: 20px;
   
  }
  
  .chief .text h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 123%;
    letter-spacing: 0.01em;
    margin-bottom: 16px;
    color: #ababab; 
  }
  
  .chief .m_mob {
    max-width: 50%; 
    object-fit: contain; 
  }
  
  .text h2 {
    text-transform: lowercase;
  }
  
  .chief .text p {
    margin-bottom: 20px; 
    color: #ababab; 
  }
  
  p, pre {
    margin: 0 0 1em;
  }
  
  
  
  
  